body{
    margin: 0%;
    font-family: 'Gentium Book Plus', serif;
}

.top-banner{
    background-image: url(images/banner.jpg); 
    height: 500px;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    background-size: 100%;
    font-size: 30px;
    padding-top: 5%;
}

.top-banner a{
    text-decoration: none;
    padding: 10px 25px ;
    background-color: tomato;
    color: white;
    border-radius: 7px;

}

.donate-today{
    text-align: center;
    font-size: 30px;
    margin: 100px;
}

.donate-today p{
    color: grey;
}

.donate-today a{
    text-decoration: none;
    padding: 10px 25px;
    background-color: tomato;
    color: white;
    border-radius: 7px;
    font-size: 25px;
}

.choose-amount{
    display: flex;
    justify-content: center;
}

.choose-amount div{
  background-color: whitesmoke;
  width: 150px;
  margin: 20px;
  padding: 18px;
  text-align: center;
  font-size: 30px;
  border-radius: 5px;
  color: grey;
}
#highlight{
    color: tomato;
    border: 3px solid tomato;
}

.donate-today input{
    font-size: 20px;
    color: grey;
    width: 550px;
    margin: 30px;
}

.donate-plan{
    text-align: center;
    margin-bottom:200px ;
    font-size: 30px;
}
.donate-plan p{
    color: grey;
}
.plans{
    display: flex;
}
.plans p{
    color: grey;
}

.plans div{
    text-align: left;
    font-size: 25px;
    margin: 30px;
}

.food{
    background-color: aquamarine;
    margin-left: 5%;
    margin-right: 20px;
    padding: 30px 15px;
    width: 30%;
}

.rehabilitation{
    background-color: antiquewhite;
    margin-left: 20px ;
    margin-right: 20px;
    padding: 30px 15px;
    width: 30%;
}

.medicine{
    background-color: aqua;
    margin-left: 20px;
    margin-right: 5%;
    padding: 30px 15px;
    width: 30%;

}